<!DOCTYPE html>
<html>
  <head>
    <title>Artsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/back_to_top" %>
    <%= yield %>

    <script>
      function startVideo(x) {
        x.play();
      }

      function stopVideo(x) {
        x.pause(); 
        x.currentTime = 0;
      }

       // Sayfanın en üstüne dönme fonksiyonu
      function scrollToTop() {
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          });
        }

        // Sayfa yüklendiğinde back to top butonunu görünür hale getirme kodları
        window.addEventListener('scroll', function() {
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if (scrollTop > 100) {
            document.getElementById('back-to-top').style.display = 'block';
          } else {
            document.getElementById('back-to-top').style.display = 'none';
          }
        });
        
        // Back to top butonuna tıklama olayını dinleme kodları
        document.getElementById('back-to-top').addEventListener('click', function(event) {
          event.preventDefault();
          scrollToTop();
        });
    </script>
  </body>
</html>
