<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? "#{yield(:title)} | Artsite" : "Artsite - Art Gallery & Auctions" %></title>
    <meta name="description" content="Discover extraordinary artworks and bid on exclusive pieces in our curated auction platform.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;600;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <% if notice.present? || alert.present? %>
      <div class="flash-container">
        <% if notice.present? %>
          <div class="flash-message flash-notice"><%= notice %></div>
        <% end %>
        <% if alert.present? %>
          <div class="flash-message flash-alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
