<div class="whole-pages-div">
    <div class="pages-top">
    
    <div class="main">
        <a href="./index.html#" class="btn-up">
        <ion-icon class="up-icon" name="chevron-up-outline"></ion-icon>
        </a>
        <div class="mains-row">
        <div class="products-div">
            <div class="products-presentation">
                <%= image_tag("seven.jpg", class: "products-img") %>
                <%= video_tag("six.mp4", class: "products-video", onmouseover: "startVideo(this)", onmouseout: "stopVideo(this)", muted: "muted") %>
            </div>
            <p id="products-owner">The Starry Night - Van Gogh</p>
        </div>
        <div class="products-div">
            <div class="products-presentation">
                <%= image_tag("eight.jpg", class: "products-img") %>
                <%= video_tag("two.mp4", class: "products-video", onmouseover: "startVideo(this)", onmouseout: "stopVideo(this)", muted: "muted") %>
            </div>
            <p id="products-owner">The Starry Night - Van Gogh</p>
        </div>
        <div class="products-div">
            <div class="products-presentation">
                <%= image_tag("nine.jpg", class: "products-img") %>
                <%= video_tag("three.mp4", class: "products-video", onmouseover: "startVideo(this)", onmouseout: "stopVideo(this)", muted: "muted") %>
            </div>
            <p id="products-owner">The Starry Night - Van Gogh</p>
        </div>
        <div class="products-div">
            <div class="products-presentation">
                <%= image_tag("ten.jpg", class: "products-img") %>
                <%= video_tag("four.mp4", class: "products-video", onmouseover: "startVideo(this)", onmouseout: "stopVideo(this)", muted: "muted") %>
            </div>
            <p id="products-owner">The Starry Night - Van Gogh</p>
        </div>
        <div class="products-div">
            <div class="products-presentation">
                <%= image_tag("art.jpg", class: "products-img") %>
                <%= video_tag("five.mp4", class: "products-video", onmouseover: "startVideo(this)", onmouseout: "stopVideo(this)", muted: "muted") %>
            </div>
            <p id="products-owner">The Starry Night - Van Gogh</p>
        </div>
        </div>
    </div>
    </div>
    <div class="foot-bar">2023© By @KeremKahraman9</div>
</div>